.Dicas{
    background-color: #fafafa;
    .Topico{
        background-color: #adc8f5cb;
    
        &:nth-child(2){
        background-color: #f5adadcb;

        }
        &:nth-child(3){
            background-color: #bef5adcb;
    
            }
        &:nth-child(4){
            background-color: #f0f5adcb;
    
            }
    }
}
