.Topico{
    padding: 10px 0;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    // border-bottom: 1px solid grey;   
        img{
            width:80px;
        }
        h3{
            font-size: 20pt;
            font-weight: bolder;
        }
        p{
            font-weight: bolder;
            color: rgb(73, 73, 73);
            padding: 0% 20px;
        }

} 