.Topico{
    section{
        // width: 50%;

        h2{
            font-size: 15pt;
            font-weight: bolder;
        }
        p{
            color: rgb(73, 73, 73);
            padding: 0% 20px;
        }
    }
}