.info-user{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 350px;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
  
}