.Usuario{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: space-around;
   
    header{
        a{
            display: flex;  
            align-items: center;
            font-weight: 600;
            font-size: 10pt;
            text-decoration: none;
            color:rgb(0, 0, 0);
            margin-right: 10px;
            padding-right: 10px;
            img{
                width: 30px;
            }
        
            &:hover{
                background-color: #eeeeee;
                border-radius: 10px;
                cursor: pointer;
                
            }
        }
    }
    section{
        border-radius: 10px;
        width: 40%;
        height: 500px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
            h3{
                display: none;
            }
            form{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            height: 300px;
            input{
                width: 400px;
                height: 30px;
                margin-bottom: 10px;
                border-radius: 4px;
                border: none;
                background-color: #eeeeee;

                &:last-child{
                    color: white;
                    background-color: #5abe4f;
                    font-weight: 900;
                    border-radius: 4px;
                    width:150px;
                    height: 30px;
                    border: none;
                    cursor: pointer;
                }
            }
            div{
                display: flex;
                align-items: center;
                justify-content: start;
                width: 400px;
                input{
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    margin: 0%;
                }
                label{
                    font-size: 10pt;
                    margin: 0%;

                }
              }
        }
    }
    aside{
        border-radius: 10px;
        width: 40%;
        height: 500px;
        background-color: #f5f5f5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        h2{
            color: #5abe4f;
        }
    }
    footer{
        display: none;
    }
}

@media(max-width:425px){
    .Usuario{
       
        background-color: #f5f5f5;
        height: 200vh;
        flex-direction: column-reverse;
        
        a{

            &:hover{
                background-color: #eeeeee;
                border-radius: 10px;
                
            }
        }
        section{
            h2{

                display: none;
            }
            h3{
                display: flex;
            }
        }
        section, aside{
            width: 100%;
            form{
                input{
                    width: 280px;
                }
                div{
                    width: 280px;
                }
            }
        }
        footer{
            display: flex;
        }       
    }
}