.Contato, .info, .social, .marca{
    display: flex;
    align-items: center;
}
.Contato{
    width: 100%;

    justify-content: center;
    flex-direction: column;
    
    .info{
        h2{
            font-size: 16pt;
            padding-left: 35px;
            padding-right: 35px;
        }
        width: 100%;
        // background-color: #e6e6e6;
        height: 50px;
        justify-content: space-around;
        // border-bottom: 2px solid rgb(126, 126, 126);
        
        p{
            font-weight: 600;
            font-size: 12pt;
        }
    }
    .social{
        height: 150px;
        justify-content: space-around;
        flex-direction: column;
        .icones-redes{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 400px;
            
        }
        article{
            width: 400px;
            
        }

    }
    .social, .marca{
        background-color:#f5f5f5;
        width: 100%;
        justify-content:center;
    }
    .marca{
       
        flex-direction: column;
        iframe{
            margin-bottom: 10px;
        }
    }
    }

    @media(max-width:425px){
        .Contato{
            .info{
                background-color: #5abe4f52;
                flex-direction: column;
                height: 200px;
                justify-content: space-around;
               
                h2{
                    display: none;
                }
                
              .marca{
                margin-right: 0;
            }
        }
                        .copyright{
                          text-align: center;
                          font-size: 8pt;
                        }
    }
}

@media(max-width:320px){
    .Contato{
        .social{
            .icones-redes{
                width: 270px;
            }
        }
    }
}