.NavBack{
    width: 100%;
    background-color: white;
    nav{
    display: flex;
    .voltar{
        height: 50px;
        img{
            background-color: #5ab34f;
            width: 40px;
            padding: 5px 0px;
            margin: 0%;
            
        }
    }
    .logo{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        img{
            width: 40px;
          
           
        }
}
    }
}