.Acesso{
 
    display: flex;
    width: 100%;
    height: 370px;
    align-items: center;
    justify-content: space-around;
    section{
        // border: 1px solid rgb(126, 126, 126);
        background-color: #f5f5f5;
        border-radius: 10px;
        width: 30%;
        height: 300px;
         display: flex;
        align-items: center;
        flex-direction: column;
    }
    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 300px;
        div{
            display: flex;
            img{
                height: 32px;
                background-color:#eeeeee;
                border-bottom-left-radius:4px;
                border-top-left-radius:4px;
            }
            input {
                border-bottom-right-radius:4px;
                border-top-right-radius:4px;
                margin-bottom: 10px;
                margin-right: 10px;
                width: 116px;
                height: 30px;
                border: none;
                background-color: #eeeeee;
                // border: 1px solid #7e7e7e;
    
            }
            .ipt-register{
            }
                        .option{
                            border-bottom-right-radius:4px;
                            border-top-right-radius:4px;
                            margin-bottom: 10px;
                            margin-right: 10px;
                            width: 275px;
                            height: 30px;
                            border: none;
                            background-color: #eeeeee;
                        }
        }
        .ipt{
            margin-bottom: 10px;
            width: 275px;
            height: 30px;
            border: none;
            background-color: #eeeeee;
            // border: 1px solid rgb(126, 126, 126);
        }
                .ipt-sub{
                    color: white;
                    background-color: #5abe4f;
                    font-weight: 900;
                    border-radius: 4px;
                    width:150px;
                    height: 30px;
                    border: none;
                    cursor: pointer;
                }
                .checkSenha{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    width: 300px;
                    margin:10px;
                    input{
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        margin: 0%;
                    }
                    label{
                        font-size: 10pt;
                        margin: 0%;
                        color:#747474;

    
                    }
                  }
    }
}

@media(max-width:425px){
    .Acesso{
        form{
           
            .ipt-register{
              input{
                  width: 275px;
                  margin-right:0px;
              }
                &:nth-child(1){
                      
                    flex-direction: column;
                }
              
            }
            .ipt{
                margin-right:0px;
            }
        }
        
        flex-direction: column;
        height: 120vh;
        section{
            width: 80%;
        }
    }
}

@media(max-width:320px){
    .Acesso{
        form{
           
          .ipt-register{
            input{
                width: 200px;
               
            }
              &:nth-child(1){
                    
                  flex-direction: column;
              }
            
          }

            .ipt{
                width: 200px;
            }

        .checkSenha{
            width: 220px;
        }

    }

}
}