.Nav{
    nav{
        position: fixed;
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        div{
            h2{
                color: black;
            }
            a{
                color: #5abe4f;
                text-decoration: none;
                margin-left: 20px;
                cursor: pointer;

                &:hover{
                    color: #397533;
                    font-weight: 500;
                    
                }
            }
        }
        div{
            display: flex;
            button{
                margin-left: 10px;
                
            }
            .btn-cadastro{
                color: white;
                background-color: #5abe4f;
                &:hover{
                    color: #5abe4f;
                    background-color: white;
                    font-weight: 700;
                    border:1px solid #5abe4f;
                }
            }
        }
    }
}

@media(max-width:(425px)){
    .Nav{
        width:100px;
        nav{
            .Ancoras{
                a{
                    display: none;
                }
            }
            div{
                h2{
                    font-size: 12pt;
                }
                button{
                    width: 70px;
                }
            display: flex;
            flex-direction: column;    
                span{
                    width: 50px;
                    height: 10px;
                    background-color: #5abe4f;
                    margin-bottom: 5px;
                    border-radius: 10px;
                }
            }
        }
    
    }
}