.Banner{
    width: 100%;
    height: 677px;
    
    img{
     
        width: 100%;
        height: 677px;
    }
}

@media(max-width: 320px){
    .Banner{
        
        height: 300px;
        
        img{
            height: 300px;
        }
    }
}