.Coleta, .sec, .cabecalho{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Coleta{
    width: 100%;
    
   
    .sec{
        width: 70%;
        height: 760px;
        flex-direction: column;

        .cabecalho{
            flex-direction: column;
            h2{
                font-size: 25pt;
            }
            p{
                font-size: 16pt;
                text-align: center;
                text-overflow: clip;
            }
        }
        .locais{
        
           
            div{
                display: flex;
                .Postos{
                    margin-left: 10px;
                }
            }
        }
    }
    
}


@media(max-width: 425px){

    .Coleta{
        .sec{
            width: 100%;
            height: 250vh;
            .cabecalho{
                h2{
                  font-size: 16pt;
                }
                p{
                    margin: 0%;
                    padding: 0% 20px;
                    font-size: 15px;
                }
            }
            .locais{
                div{

                    flex-direction: column;
                }
            }
            
        }
    }
}